<br>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Información de contacto</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-geo-alt-fill"></i> Dirección: 
            <span>Olavarría 2464, Mar del Plata, Buenos Aires, Argentina</span>
          </li>
          <li>
            <i class="bi bi-telephone-fill"></i> Teléfono: 
            <span>+549 223 5312309</span>
          </li>
          <li>
            <i class="bi bi-envelope-fill"></i> Correo electrónico: 
            <span>nicocristobal@productosiphone.com</span>
          </li>
        </ul>
        <div class="google-maps mt-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12574.05922880735!2d-57.5397755!3d-38.0117762!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc3b7d34c3a5%3A0x3a5aee29bfae9b31!2sCAECE%20University!5e0!3m2!1sen!2sar!4v1690170719462!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
