<br>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">¡Bienvenidos a Tienda iPhone!</h5>
        <p class="card-text">
          Somos una empresa dedicada a ofrecer la mejor experiencia en productos iPhone. Nos enorgullecemos de ofrecer una amplia gama de dispositivos y accesorios iPhone para satisfacer las necesidades de nuestros clientes.
        </p>
        <p class="card-text">
          Nuestro equipo de expertos se esfuerza constantemente por brindar la última tecnología y las mejores soluciones en dispositivos móviles. Desde los últimos modelos de iPhone hasta una selección de accesorios cuidadosamente elegidos, estamos comprometidos a proporcionar la máxima calidad y el mejor servicio posible.
        </p>
        <p class="card-text">
          En nuestra tienda, encontrarás productos genuinos y originales, junto con opciones de envío rápidas y seguras para que puedas disfrutar de tus compras sin preocupaciones. Además, nuestro servicio de atención al cliente está siempre disponible para ayudarte en cualquier consulta o inquietud que puedas tener.
        </p>
        <p class="card-text">
          ¡Gracias por elegirnos como tu proveedor de productos iPhone! Esperamos que disfrutes de tu experiencia de compra con nosotros y que encuentres todo lo que necesitas para complementar tu estilo de vida digital.
        </p>
      </div>
    </div>
  </div>
</div>
