<br>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Servicios que ofrecemos en Tienda iPhone</h5>
        
        <ul class="card-text">
          <li>Asesoramiento personalizado para elegir el iPhone que mejor se adapte a tus necesidades.</li>
          <li>Amplia selección de accesorios para personalizar y proteger tu iPhone.</li>
          <li>Actualizaciones y noticias sobre los últimos lanzamientos de productos Apple.</li>
          <li>Servicio de reparación y mantenimiento de dispositivos iPhone por parte de expertos técnicos.</li>
          <li>Opciones de financiamiento y facilidades de pago para que puedas adquirir tu iPhone sin complicaciones.</li>
        </ul>
        
      </div>
    </div>
  </div>
</div>
